@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Mystery+Quest&family=Poiret+One&display=swap');
body {background-color: #FFFFFF; }
#slogan {background-color: #FFFFFF
color: #000000
font-weight: 700;}
h1, p {color: #000000;}
